.twoColumn {
  padding: 36px 0;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 52px;
  
  @media (width >= 1024px) {
    padding: 90px 0 50px;
    grid-template-columns: minmax(0, 1fr) calc(300px / 960px * 100%);
    gap: 60px;
  }
}

.main {

}

.content {
  
}