.reservation {
  position: relative;
  margin-inline: auto;
  padding: 0 20px;
  max-width: 840px;
}

.inner {
  max-width: 420px;
  position: relative;
  z-index: 1;
  margin-inline: auto;
  padding-bottom: 36px;
  @media (width >= 768px) {
    padding-bottom: 50px;
  }
}

.bgWrap {
  display: block;
  aspect-ratio: 1;
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  width: 474px;
  bottom: calc(100% - (474px - 135px));
  right: -145px;
  @media (width >= 768px) {
    width: 614px;
    right: -430px;
    bottom: -53px;
  }
}

.bgImage {
  width: 100%;
  object-fit: cover;
}
