.container {
  padding: 0 30px;
  @media (width >= 768px) {
    max-width: calc(1140px + 30px * 2);
    margin-inline: auto;
  }
}

.cards {
  display: grid;
  gap: 36px;
  @media (width >= 768px) {
    grid-template-columns: repeat(auto-fill, minmax(min(280px, 100%), 1fr));
    gap: 30px 25px;
  }
}

