.button {
  display: inline-grid;
  padding: 9px 10px;
  background: var(--primary-color);
  color: var(--White);
  font-family: var(--font-noto-serif-jp);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  border-radius: 1px 20px 1px 20px;
  border: solid 2px var(--primary-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  cursor: pointer;
  width: 100%;

  &:focus-visible {
    background-color: var(--base-color);
    color: var(--primary-color);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--base-color);
      color: var(--primary-color);
    }
  }
}
