.item {
  display: grid;
  grid-template-columns: 120px auto;
  column-gap: 10px;
  align-items: center;
  padding: 0 10px 10px;
  border-bottom: solid 1px #939393;

  @media (width >= 768px) {
    column-gap: 38px;
  }
}

.date {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 12%;

  @media (width >= 768px) {
    font-size: 16px;
  }
}

.title {
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 12%;

  @media (width >= 768px) {
    font-size: 16px;
  }
}
